* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #000;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
}

/* Links */
a {
  text-decoration: none;
}
